.containerImg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding:150px 0 20px 0;
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #f5f5f5;

    padding: 0;
    border-top-right-radius: 20px;
    border-top-left-radius:20px ;
    padding: 250px 0;
  }
  .login {
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;

  }
  .container-login{
    margin: 0 auto;
  }
  .ancho {
    width: 400px;
    border-radius: 25px;
    margin: 40px 0;
  }
  .anchoB {
    width: 180px;
    border-radius: 25px;
    margin: 40px 0;
    background-color: #1057DB;
  }
  .input{
    background-color: #BDBDBD;
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: left;
    color: aliceblue;
    text-align: center;

  }
  .colorfw{
    color: white;

  }